body {
    background-color: #2E2E2E;
    font-family: Arial, sans-serif;
    color: #ffffff
}

h1 {
    color: #909298;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

img {
  display: block;    
  margin: 0 auto;     
}


h1, h2, p{
    text-align: center;
}

body{
background: linear-gradient(#2E2E2E, #000000);
  height: 200vh;       
  margin: 0;   
}

header{
    background-color: #1A1A1A;
    padding: 5px;

}


.botao {
  display: absolute;
  width: 100px;
  height: 70px;
  background-color: #555555;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 73px; 
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  position: absolute;
  top: 11%;
  left: 96%;
  transform: translate(-50%, -50%);

}

