body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333333
}

h1 {
    color: #0055ff;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}